/* Dialog
----------------------------------*/
.ui-dialog { 
	position:relative; 
	padding:0; 
	width:300px; 
	border:none;
	-webkit-box-shadow: 0 2px 40px rgba(0,0,0,0.5);
}
.ui-dialog .ui-dialog-titlebar { 
	position:relative; 
	background:transparent url(images/top_unactive.gif) repeat-x scroll right -22px;
	color:#17385B;
	font:normal 14px/26px Arial, sans-serif;
	height:22px;
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
	padding-left:60px;
	line-height:20px; 
	color:#000;
}
.ui-dialog .ui-dialog-titlebar-left {
	display:block;
	float:left;
	background:transparent url(images/top_unactive.gif) no-repeat scroll 0px 0px !important;
	height:22px;
	width:10px;
	content:"\a0";
}
.ui-dialog .ui-dialog-titlebar-right {
	display:block;
	float:right;
	background:transparent url(images/top_unactive.gif) no-repeat scroll right -44px;
	height:22px;
	width:10px;
	content:"\a0";
}

.ui-dialog .ui-dialog-title { 
	 
} 
.ui-dialog .ui-dialog-titlebar-close { 
	position:absolute; 
	margin:0; 
	padding:1px; 
	background:transparent url(images/button_unactive.gif) no-repeat 0 0;
	height:15px;
	width:14px;
	left:0;
	top:4px;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	background:transparent url(images/buttons_over.gif) no-repeat 0 0px !important; 
}
.ui-dialog .ui-dialog-titlebar-close span { 
	display:block; 
	margin:1px; 
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
	padding:0; 
}
.ui-dialog .ui-dialog-content { 
	border:0; 
	padding:.5em 1em; 
	background:#FFF;
	color:#000;
	font:normal 12px/1em Verdana, Arial, sans-serif;
	overflow:auto;
	zoom:1; 
}
.ui-dialog .ui-dialog-buttonpane { 
	text-align:left; 
	border-width:1px 0 0 0; 
	background:#eee; 
	margin:0; 
	padding:2px;
}
.ui-dialog .ui-dialog-buttonpane button { 
	float:right; 
	margin:.5em .4em .5em 0; 
	cursor:pointer; 
	padding:.2em .6em .3em .6em; 
	line-height:1.4em; 
	width:auto; 
	overflow:visible; 
}
.ui-dialog .ui-resizable-se { 
	width:14px; 
	height:14px; 
	right:3px; 
	bottom:3px; 
}
.ui-draggable .ui-dialog-titlebar { 
	cursor:move; 
}
